$bgcolor: white;
$bodyWidth: 100%;
$buttonContainerMargin: 1rem;
$buttonBorderRadius: 0.5rem;

body {
  background-color: $bgcolor;
  width: $bodyWidth;
  overflow-x: hidden;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.row {
  margin-bottom: 2%;
}

.d-none {
  display: none;
}

.flex-row {
  flex-basis: 100%;
}

%button-container {
  margin: $buttonContainerMargin auto;
  border-radius: $buttonBorderRadius;
  text-align: center;
}

.button-container {
  @extend %button-container;
}

@media only screen and (max-width: 600px) {
  .button-container {
    margin: 3em auto;
  }
}

%btn {
  display: inline-block;
  cursor: pointer;
  border-radius: $buttonBorderRadius;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #17a2b8;
  text-align: center;
  transition: all 0.2s;
  vertical-align: middle;
  padding: 0.2rem 1rem;
  -webkit-appearance: button;
  border: 2px solid #17a2b8;
}

.btn {
  @extend %btn;
}

%btn:hover {
  color: #17a2b8;
  background-color: #FFFFFF;
  border: 2px solid #17a2b8;
}

.btn:hover {
  @extend %btn:hover;
}

%adopt-button-container {
  @extend %button-container;
}