@import '../base/styles';

$containerWidth: 70%;
$slidewidth: 50%;
$containerScreenLimit: 1028px;
$btnDist: 20%;
$textPaddingVertical: 8px;
$textPaddingHorizontal: 12px;

%slide {
  height: 100%;
  position: relative;
  bottom: 0;
  top: 0;
}

%nav-btn {
  position: absolute;
  color: #000;
  cursor: pointer;
  top: 30%;
  font-size: 40px;
  font-weight: bold;
  font-family: initial;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translateY(50%);
  background-color: #f1f1f1;
  opacity: 50%;
  text-decoration: none;
}

%slide-preview-after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#carousel-container {
  position: relative;
  margin: 0 auto;
  height: 50vh;
  width: $containerWidth;
  text-align: center;

  * {
    box-sizing: border-box;
  }
}

#carousel {
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.slide {
  @extend %slide;
  width: $slidewidth;
  flex: $slidewidth;
  transition: all 0.5s ease-in-out;

  .adopt-button-container {
    @extend %adopt-button-container;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    transform: translate(-15%, 50%);
    z-index: 999;
    transition: all 0.2s;
  }

  img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    object-fit: cover;
  }
}

@media screen and (max-width: $containerScreenLimit) {
  #carousel-container {
    width: $containerWidth + 20%;
  }
}

.slide-preview {
  @extend %slide;
  width: $slidewidth / 2;
  flex: $slidewidth / 2;
  mix-blend-mode: hard-light;

  .adopt-button-container {
    display: none;
  }
}

.slide-preview-right:after {
  @extend %slide-preview-after;
  background: linear-gradient(to right, transparent 0%, 30%, gray 90%);
}

.slide-preview-left:after {
  @extend %slide-preview-after;
  background: linear-gradient(to left, transparent 0%, 30%, gray 90%);
}

.active-hover:hover {
  transition: all 1s;
  transform: scale(1.05);
  opacity: 1;
  overflow: visible;
  z-index: 1;
}

.slide-text {
  color: #f2f2f2;
  background-color: black;
  font-size: 15px;
  padding: $textPaddingVertical $textPaddingHorizontal;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.arrow {
  display: block;
  transform: translateY(10%);
}

.btn-prev {
  @extend %nav-btn;
  left: $btnDist;
}

.btn-next {
  @extend %nav-btn;
  right: $btnDist;
}

.btn-prev:hover, .btn-next:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .slide-preview {
    display: none;
  }
  .btn-prev {
    left: $btnDist / 2;
  }
  .btn-next {
    right: $btnDist / 2;
  }
}